@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
    ),
  )
);

// Include the default theme styles (color and default density)
@include angular-material-theme($candy-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-orange);
$dark-accent: mat-palette($mat-yellow, A200, A100, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-color($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  padding: 1.3rem 0.5rem 0.5rem 0.5rem;
}

.full-width-table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.transaction-table-inputs {
  width: 50px;
}
