<div [@routerTransition]>
  <!-- Dialog Header -->
  <h1>{{ "UpdatePassword" | localize }}</h1>

  <!-- Please put inside a card-->

  <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>{{ "CurrentPassword" | localize }}</mat-label>
        <input
          type="password"
          matInput
          name="currentPassword"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="changePasswordDto.currentPassword"
          #currentPasswordModel="ngModel"
          #currentPasswordEl
        />
      </mat-form-field>
      <abp-validation-summary
        [control]="currentPasswordModel"
        [controlEl]="currentPasswordEl"
      ></abp-validation-summary>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>{{ "NewPassword" | localize }}</mat-label>
        <input
          type="password"
          matInput
          name="newPassword"
          required
          minlength="2"
          maxlength="32"
          validateEqual="confirmNewPassword"
          reverse="true"
          pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
          [(ngModel)]="changePasswordDto.newPassword"
          #newPasswordModel="ngModel"
          #newPasswordEl
        />
      </mat-form-field>
      <abp-validation-summary
        [control]="newPasswordModel"
        [controlEl]="newPasswordEl"
        [customValidationErrors]="newPasswordValidationErrors"
      ></abp-validation-summary>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>{{ "ConfirmNewPassword" | localize }}</mat-label>
        <input
          type="password"
          matInput
          name="confirmNewPassword"
          required
          minlength="2"
          maxlength="32"
          validateEqual="newPassword"
          reverse="false"
          ngModel
          #confirmNewPasswordModel="ngModel"
          #confirmNewPasswordEl
        />
      </mat-form-field>
      <abp-validation-summary
        [control]="confirmNewPasswordModel"
        [controlEl]="confirmNewPasswordEl"
        [customValidationErrors]="confirmNewPasswordValidationErrors"
      ></abp-validation-summary>
    </div>

    <!-- Footer -->

    <button
      mat-button
      color="accent"
      [disabled]="!changePasswordForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </form>
</div>
