<form autocomplete="off" #editUserModal="ngForm" (ngSubmit)="save()">
  <!-- Dialog Header -->
  <h3>{{ "EditUser" | localize }}</h3>

  <!-- Dialog Content -->
  <mat-tab-group mat-align-tabs="start">
    <mat-tab [label]="'UserDetails' | localize">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>{{ "Name" | localize }}</mat-label>
          <input
            matInput
            name="name"
            required
            maxlength="32"
            [(ngModel)]="user.name"
            #nameModel="ngModel"
            #nameEl
          />
        </mat-form-field>
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>{{ "Surname" | localize }}</mat-label>
          <input
            matInput
            name="surname"
            required
            maxlength="32"
            [(ngModel)]="user.surname"
            #surnameModel="ngModel"
            #surnameEl
          />
        </mat-form-field>
        <abp-validation-summary
          [control]="surnameModel"
          [controlEl]="surnameEl"
        ></abp-validation-summary>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>{{ "UserName" | localize }}</mat-label>
          <input
            matInput
            name="userName"
            required
            minlength="2"
            maxlength="32"
            [(ngModel)]="user.userName"
            #userNameModel="ngModel"
            #userNameEl
          />
        </mat-form-field>
        <abp-validation-summary
          [control]="userNameModel"
          [controlEl]="userNameEl"
        ></abp-validation-summary>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>{{ "EmailAddress" | localize }}</mat-label>
          <input
            type="email"
            matInput
            name="emailAddress"
            required
            maxlength="256"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
            [(ngModel)]="user.emailAddress"
            #emailAddressModel="ngModel"
            #emailAddressEl
          />
        </mat-form-field>
        <abp-validation-summary
          [control]="emailAddressModel"
          [controlEl]="emailAddressEl"
        ></abp-validation-summary>
      </div>

      <div>
        <mat-checkbox name="isActive" id="isActive" [(ngModel)]="user.isActive">
          {{ "IsActive" | localize }}
        </mat-checkbox>
      </div>
    </mat-tab>

    <mat-tab [label]="'UserRoles' | localize">
      <ng-container *ngFor="let role of roles; let i = index">
        <div>
          <mat-checkbox
            [id]="'role_' + i"
            [checked]="isRoleChecked(role.normalizedName)"
            (change)="onRoleChange(role, $event)"
          >
            {{ role.name }}
          </mat-checkbox>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <!-- Dialog Footer -->
  <button mat-button mat-dialog-close>{{ "Cancel" | localize }}</button>
  <button
    mat-button
    color="accent"
    [disabled]="!editUserModal.form.valid || saving"
  >
    {{ "Submit" | localize }}
  </button>
</form>
