<div class="parent">
  <!-- 1. PRODUCT SEARCH PANEL -->
  <div class="child product-search-panel">
    <button
      mat-icon-button
      (click)="selectedSearchProductType = 1"
      [class]="selectedSearchProductType == 1 ? 'active' : ''"
    >
      <mat-icon>qr_code</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="selectedSearchProductType = 2"
      [class]="selectedSearchProductType == 2 ? 'active' : ''"
    >
      <mat-icon>numbers</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="selectedSearchProductType = 3"
      [class]="selectedSearchProductType == 3 ? 'active' : ''"
    >
      <mat-icon>local_offer</mat-icon>
    </button>
    <div class="box product-search">
      <partial-products-by-type
        [type]="selectedSearchProductType"
      ></partial-products-by-type>
    </div>
  </div>

  <!-- 2. SELECTED PRODUCT TABLE -->
  <div class="child product-display">2</div>

  <!-- 3. SALES OPTIONS -->
  <div class="child sales-options">
    <div class="common-functions">
      <button mat-button class="remove-product-button">
        <mat-icon>close</mat-icon>Delete
      </button>
      <button mat-button>
        <mat-icon matBadge="F3" matBadgePosition="before">search</mat-icon
        >Search
      </button>
      <button mat-button>
        <mat-icon matBadge="F4" matBadgePosition="before"
          >add_shopping_cart</mat-icon
        >Quantity
      </button>
      <button mat-button>
        <mat-icon matBadge="F8" matBadgePosition="before">add</mat-icon>New
        Sales
      </button>
    </div>

    <div class="below-functions">
      <button mat-button>
        <span matBadge="F2" matBadgePosition="before"></span
        ><mat-icon>local_offer</mat-icon>Discount
      </button>
      <button mat-button><mat-icon>comment</mat-icon>Comment</button>
      <button mat-button><mat-icon>move_to_inbox</mat-icon>Cash drawer</button>
      <button mat-button>
        <span
          matBadge="1"
          matBadgePosition="before"
          matBadgeColor="accent"
        ></span>
        <span class="shortcut-key">F9</span>
        Save Sale
      </button>
      <button mat-button><mat-icon>redo</mat-icon>Refund</button>
      <button mat-button class="payment-button">
        <span class="shortcut-key">F10</span>Payment
      </button>
      <button mat-button><mat-icon>lock</mat-icon>Lock</button>
      <button mat-button>
        <span matBadge="F7" matBadgePosition="before"></span>
        <mat-icon>sync_alt</mat-icon>Transfer
      </button>
      <button mat-button class="void-button">
        <mat-icon>delete</mat-icon>Void order
      </button>
    </div>
  </div>

  <!-- 4. CALCULATION PANEL -->
  <div class="child"></div>
</div>
