<!-- <div class="wrapper">
  <app-header></app-header>
  <sidebar></sidebar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <div id="sidebar-overlay" (click)="toggleSidebar()"></div>
</div> -->

<mat-sidenav-container
  class="sidenav-container mat-app-background"
  [ngClass]="{ 'unicorn-dark-theme': isDarkTheme }"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <sidebar-menu></sidebar-menu>
    </mat-nav-list>

    <!-- ssss -->
    <!-- <sidebar-user-panel></sidebar-user-panel> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Point Of Sales</span>
      <span style="flex: auto"></span>
      <mat-slide-toggle
        labelPosition="before"
        [(ngModel)]="isDarkTheme"
        (change)="storeThemeSelection()"
      >
        <mat-icon>bedtime</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
