<mat-toolbar color="primary" style="min-height: 3rem; max-height: 3rem;">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Odco Point Of Sales</span>
    <span style="flex: auto"></span>
    <header-language-menu></header-language-menu>
    <mat-slide-toggle labelPosition="before" [(ngModel)]="isDarkTheme" (change)="storeThemeSelection()">
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{ 'unicorn-dark-theme': isDarkTheme }">
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <sidebar-menu></sidebar-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 95vh; padding: 0 15px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
