<form
  autocomplete="off"
  #resetPasswordModal="ngForm"
  (ngSubmit)="resetPassword()"
>
  <!-- Dialog Header -->
  <h3>{{ "ResetPassword" | localize }}</h3>

  <!-- Dialog Content -->
  <p>{{ "ResetPasswordStepOneInfo" | localize }}</p>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>{{ "AdminPassword" | localize }}</mat-label>
      <input
        type="password"
        matInput
        name="adminPassword"
        required
        [(ngModel)]="resetPasswordDto.adminPassword"
        #adminPasswordModel="ngModel"
        #adminPasswordEl
      />
    </mat-form-field>
    <abp-validation-summary
      [control]="adminPasswordModel"
      [controlEl]="adminPasswordEl"
    ></abp-validation-summary>
  </div>

  <p>{{ "ResetPasswordStepTwoInfo" | localize }}</p>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>{{ "NewPassword" | localize }}</mat-label>
      <input
        type="text"
        matInput
        name="NewPassword"
        id="newPassword"
        readonly
        [ngModel]="resetPasswordDto.newPassword"
      />
    </mat-form-field>
  </div>

  <!-- Dialog Footer -->
  <button mat-button mat-dialog-close>{{ "Cancel" | localize }}</button>
  <button
    mat-button
    color="accent"
    [disabled]="!resetPasswordModal.form.valid || isLoading"
  >
    {{ "Submit" | localize }}
  </button>
</form>
