<mat-form-field class="full-width">
  <mat-label>Product</mat-label>
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Product"
    matInput
    [(ngModel)]="searchKeyword"
    (keyup)="changeKeyword()"
    [matAutocomplete]="auto"
  />

  <button
    *ngIf="searchKeyword"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clearSelectedProduct()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      (onSelectionChange)="selectProduct(option)"
      *ngFor="let option of filteredOptions | async"
      [value]="option.name"
    >
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
