<form [formGroup]="grnForm" novalidate (ngSubmit)="save()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ "GoodsReceivedNotes" | localize }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <partial-suppliers
            (selectedEvent)="selectedSupplier($event)"
          ></partial-suppliers>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ "GoodsReceivedNumber" | localize }}</mat-label>
            <input
              matInput
              formControlName="goodsReceivedNumber"
              id="goodsReceivedNumber"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ "Remarks" | localize }}</mat-label>
            <input matInput formControlName="remarks" id="remarks" />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ "ReferenceNumber" | localize }}</mat-label>
            <input
              matInput
              formControlName="referenceNumber"
              id="referenceNumber"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <partial-products
            (selectedEvent)="selectedProducts($event)"
          ></partial-products>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <ng-container formArrayName="goodsReceivedProducts">
          <table class="full-width-table" mat-table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Product Name Column -->
            <ng-container matColumnDef="product-name">
              <th mat-header-cell *matHeaderCellDef>
                {{ "Product" | localize }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.get("productCode").value }} -
                {{ element.get("productName").value }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </ng-container>
      </div>

      <tr
        *ngFor="
          let item of grnForm.controls.goodsReceivedProducts['controls'];
          let i = index
        "
        [formGroupName]="i"
      >
        item
      </tr>

      <div class="parent">
        <div class="child">
          <mat-label>{{ "GrossAmount" | localize }}</mat-label>
        </div>
        <div class="child">LKR. {{ grossAmount.value }}</div>

        <div class="child">
          <mat-label>{{ "Taxes" | localize }}</mat-label>
        </div>
        <div class="child">
          <input
            matInput
            class="transaction-table-inputs"
            formControlName="taxRate"
            id="taxRate"
          />
        </div>

        <div class="child">
          <mat-label>{{ "Discount" | localize }}</mat-label>
        </div>
        <div class="child">
          <input
            matInput
            class="transaction-table-inputs"
            formControlName="discountRate"
            id="discountRate"
          />
        </div>

        <div class="child">
          <mat-label>{{ "TotalDiscount" | localize }}</mat-label>
        </div>
        <div class="child">LKR. {{ discountAmount.value }}</div>

        <div class="child">
          <mat-label>{{ "NetAmount" | localize }}</mat-label>
        </div>
        <div class="child">LKR. {{ netAmount.value }}</div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button mat-dialog-close>{{ "Cancel" | localize }}</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!grnForm.valid || saving"
      >
        {{ "Submit" | localize }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>

{{ grnForm.value | json }}
