<form #editenantForm="ngForm" autocomplete="off" (ngSubmit)="save()">
  <!-- Dialog Header -->
  <h3>{{ "EditTenant" | localize }}</h3>

  <!-- Dialog Content -->
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>{{ "TenancyName" | localize }}</mat-label>
      <input
        type="text"
        matInput
        name="tenancyName"
        required
        minlength="2"
        maxlength="64"
        [(ngModel)]="tenant.tenancyName"
        #tenancyNameModel="ngModel"
        #tenancyNameEl
      />
    </mat-form-field>
    <abp-validation-summary
      [control]="tenancyNameModel"
      [controlEl]="tenancyNameEl"
    ></abp-validation-summary>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>{{ "Name" | localize }}</mat-label>
      <input
        type="text"
        matInput
        name="name"
        maxlength="128"
        [(ngModel)]="tenant.name"
        #nameModel="ngModel"
        #nameEl
      />
    </mat-form-field>
    <abp-validation-summary
      [control]="nameModel"
      [controlEl]="nameEl"
    ></abp-validation-summary>
  </div>

  <div>
    <mat-checkbox name="isActive" id="isActive" [(ngModel)]="tenant.isActive">
      {{ "IsActive" | localize }}
    </mat-checkbox>
  </div>

  <!-- Dialog Footer -->
  <button mat-button mat-dialog-close>{{ "Cancel" | localize }}</button>
  <button
    mat-button
    color="accent"
    [disabled]="!editenantForm.form.valid || saving"
  >
    {{ "Submit" | localize }}
  </button>
</form>
