.parent-grid {
  margin: 10px;
}

.child-grid {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid grey;
  margin-left: -1px;
  margin-top: -1px;
}

table,
td {
  font-size: 1rem;
  width: 100%;
}

// .payment-grid {
//   display: grid;
// }

.payment-type button {
  border: 1px solid grey;
  border-radius: 0;
  margin: 5px 0px;
}

.active-payment {
  color: gold;
  background-color: #4b4949;
}

.remove-btn {
  float: right;
  padding: 0;
  margin: 0;
}

.transaction-table-inputs {
  width: 75px;
  text-align: right;
  border-bottom: 1px solid #000;
}
