.parent-grid {
  margin: 10px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 8% 85%;
}

.child-grid {
  padding: 10px;
  font-size: 20px;
  border: 1px solid grey;
  margin-left: -1px;
  margin-top: -1px;
}

table,
td {
  font-size: 14px;
  width: 100%;
}

.payment-grid {
  display: grid;
  //grid-template-columns: 1fr 3fr;
}

.payment-type button {
  border: 1px solid grey;
  border-radius: 0;
  margin: 5px 0px;
}
.payment-type-card {
  max-width: 100%;
  margin: 0.5rem;
}

.active-payment {
  color: gold;
  background-color: #4b4949;
}

.remove-btn {
  float: right;
  padding: 0;
  margin: 0;
}
