<div [@routerTransition]>
  <section class="mat-typography">
    <h1>{{ "Users" | localize }}</h1>
  </section>
  <mat-card>
    <button
      mat-raised-button
      color="primary"
      (click)="createUser()"
      style="float: right"
    >
      {{ "Create" | localize }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="refresh()"
      style="float: right"
    >
      {{ "Refresh" | localize }}
    </button>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        name="keyword"
        [placeholder]="'SearchWithThreeDot' | localize"
        [(ngModel)]="keyword"
        (keyup.enter)="getDataPage(1)"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- User Name Column -->
        <ng-container matColumnDef="user-name">
          <th mat-header-cell *matHeaderCellDef>{{ "UserName" | localize }}</th>
          <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="full-name">
          <th mat-header-cell *matHeaderCellDef>{{ "FullName" | localize }}</th>
          <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
        </ng-container>

        <!-- Email Address Column -->
        <ng-container matColumnDef="email-address">
          <th mat-header-cell *matHeaderCellDef>
            {{ "EmailAddress" | localize }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.emailAddress }}</td>
        </ng-container>

        <!-- Is Active Column -->
        <ng-container matColumnDef="is-active">
          <th mat-header-cell *matHeaderCellDef>{{ "IsActive" | localize }}</th>
          <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ "Actions" | localize }}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="editUser(element)">
              {{ "Edit" | localize }}
            </button>

            <button mat-button color="warn" (click)="delete(element)">
              {{ "Delete" | localize }}
            </button>

            <button mat-button color="primary" (click)="resetPassword(element)">
              {{ "ResetPassword" | localize }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <abp-pagination-controls
        [totalItems]="totalItems"
        (pageChange)="pageChanges($event)"
      >
      </abp-pagination-controls>
    </div>
  </mat-card>
</div>
